
SpeedCurves.xcodeproj/xcuserdata/cemkilinc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
SpeedCurves.xcodeproj/project.pbxproj
SpeedCurves.xcodeproj/project.xcworkspace/xcuserdata/cemkilinc.xcuserdatad/UserInterfaceState.xcuserstate
